.Container{
    height: 65vh;
    width: 70vw;
    background-color: white;
    align-items: center;
    justify-content: center;
    z-index: 1000;   
    position: fixed;
    right: 15%;
    top:10%;
    border-radius: 10%;
    
}

@media(max-width: 1024px){
    .Container{
        height: 45vh;
        top:25%;
    }
}





.Modal-Button{
    /* position: relative; */
    /* display: flex; */
    justify-content: center;
    position: relative;
    width:clamp(100px, 15vw, 600px);
    font-size: clamp(15px, 2.5vw, 30px);
    height: clamp(50px, 7.5vw, 300px);
    border-radius: 15%;
    background-color: #002B7A;
    font-family: 'Anonymous Pro';
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: #D59F0F;
    font-style: bold;
}

.Modal-Title{
    padding-bottom: clamp(8vh, 13vh, 20vh);
    position: relative;
    font-family: 'Anonymous Pro';
    font-size: clamp(2.5rem, 7vw, 5rem);
    color:#D59F0F;
}